{% extends "forms/base.html" %}
{% block content %}
<div class="container form-container">
    <h1>Power On</h1>
    <div class="vm_form">
    <form action="{% url 'power_on' %}" method="POST">
        {% csrf_token %}
        <fieldset>
            
            <div class="form-row">
                <div class="form-group col-md-12">
                    <p class="text-muted">Give List of VM's (ip-addresses) on which the task need to be conducted. 
                        Give Comma Separated List. <br>Eg: 192.121.85.23,192.121.85.24
                    </p>

                    <label for="ip_addr">Enter IP address of machines to be powered-on</label>
                    <textarea class="form-control" name="ip_addr" id="ip_addr" required></textarea>
                </div>
            </div>
        </fieldset>
<div class="block-button"><button type="submit" class="btn btn-primary btn-block">Power On</button></div>
</form>
    </div>
</div>
{% endblock %}

  

